<div class="card-header d-flex justify-content-between">
  <span>Todo list</span>
<%= link_to 'New Todo List', new_todo_list_path,class:'text-light btn btn-primary btn-sm' %>
</div>

<ul class='list-group'>

<% @todo_lists.each do |todo_list| %>
    <%= link_to todo_list.title, todo_list, class:"list-group-item list-group-item-action" %>
  <%end%>
</ul>
